doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    title= title

  body
    #game
    script(src='/js/lib/phaser.min.js')
    script(src='/js/boot.js')
    script(src='js/preloader.js')
    script(src='js/play.js')
    script(src='/js/game.js')
